body {
  font-family: sans-serif;
  background-color: #e3ff00;
}

#shape {
  height: 200px;
  width: 200px;
  background-color: #00ff12;
  display: none;
  position: relative;
}

.italic {
  font-style: italic;
}
